@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #1C2331;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #1C2331 !important;
    }
}

@media (min-width: 1200px) {
    #__admin .navbar,
    #__admin main,
    #__regular .navbar,
    #__regular main {
        padding-left: 270px;
    }
}

@media (max-width: 1199.98px) {
    .sidebar-fixed {
        display: none;
    }
}